/* ========== Typography ========== */
* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}

@font-face {
    font-family: 'glyphicon';
    src: url('fonts/icomoon.ttf');
}

.glyphicon {
    font-family: glyphicon;
}

.responsive-medium-icon {
    font-size: calc( 22px + (26 - 22) * ( (100vw - 300px) / ( 1600 - 300) ));
}

.responsive-small-font {
    font-size: calc( 16px + (28 - 16) * ( (100vw - 300px) / ( 1600 - 300) ));
}

.responsive-medium-font {
    font-size: calc( 20px + (30 - 20) * ( (100vw - 300px) / ( 1600 - 300) ));
}

.responsive-large-font {
    font-size: calc( 40px + (100 - 40) * ( (100vw - 300px) / ( 1600 - 300) ));
}

/* ========== Routing ========== */
.router > .route {
    display: none;
}

.router > .route:last-child {
    display: block;
}

.router > .route:target {
    display: block;
}

.router > .route:target ~ .route {
    display: none;
}

/* ========== Global Layout ========== */
html, body {
    min-width: 300px;
    min-height: 300px;
}

.full-screen-height {
    min-height: 300px;
    height: 100vh;
}

.full-screen-width {
    min-width: 300px;
    width: 100vw;
}

.flex-layout-container {
    display: flex;
    flex-direction: column;
}

.flex-v-center {
    align-items: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-rigid {
    flex-shrink: 0;
    flex-grow: 0;
}

.flex-only-grow {
    flex-shrink: 0;
    flex-grow: 1;
}

.responsive-width {
    width: 80vw;
    max-width: 600px;
}

.text-v-center {
    vertical-align: middle;
}

.text-h-center {
    text-align: center;
}

/* ========== margin and padding ==========*/
.huge-b-margin {
    margin-bottom: 45px;
}

.large-b-margin {
    margin-bottom: 30px;
}

.medium-t-padding {
    padding-top: 8px;
}

.medium-b-padding {
    padding-bottom: 8px;
}

.medium-h-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.medium-b-margin {
    margin-bottom: 20px;
}

.medium-t-margin {
    margin-top: 20px;
}

.medium-b-margin {
    margin-bottom: 20px;
}

.small-r-margin {
    margin-right: 10px;
}

.small-t-margin {
    margin-top: 10px;
}

.small-b-margin {
    margin-bottom: 10px;
}

.tiny-b-margin {
    margin-bottom: 5px;
}

.tiny-t-margin {
    margin-top: 5px;
}

/* ========== Global Interactions ========== */
* {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.clickable {
    cursor: pointer;
}

/* ========== Content ========== */
.landing-splash {
    background: url(images/background.jpg);
    background-size: cover;
}

/* ========== Visual Effects ========== */
.background-black {
    background-color: black;
}

.background-frosted {
    background-color: rgba(255, 255, 255, 0.25);    
}

.primary-foregroud {
    color: white;
    border-color: white;
}

/*.foreground-frosted {
    border-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}*/

.hidden {
    display: none !important;
}

.hover-highlight:hover {
    color: greenyellow;
    border-color: greenyellow;
}

.focus-highlight:focus {
    color: greenyellow;
    border-color: greenyellow;
}

.disabled {
    color: #cccccc !important;
    border-color: #cccccc !important;
}

/* ========== CSS Animation ========== */
.transition-expandee::after {
    display: inline-block;
    width: 0;
}

.transition-expandee.animate::after {
    content: attr(data-expander-text);
    width: auto;
    animation-name: fade-in;
    animation-duration: 2s;
}

.fade-in-insert {
    display: none;
}

.fade-in-insert.animate {
    display: block;
    animation-name: fade-in, v-expand;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.right-overflow-hide {
    visibility: hidden;
    transform: translateX(100vw);
}

.right-overflow-hide.active {
    visibility: visible;
    animation-name: h-dropdown;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.top-overflow-hide {
    visibility: hidden;
    transform: translateY(-100vh);
}

.top-overflow-hide.active {
    visibility: visible;
    animation-name: v-dropdown;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.micro-drop-on-hover:hover {
    animation-name: micro-v-dropdown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes v-dropdown {
    to {transform: translateY(0px);}
}

@keyframes h-dropdown {
    to {transform: translateX(0px);}
}

@keyframes micro-v-dropdown {
    to {padding-top: 20px;}
}

/* ========== Component - Input ========== */
input {
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
}

input[type=email], input[type=text] {
  cursor: text;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

/* ========== Component - Button ========== */ 
button {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    color: white;
}

.light-border {
    border: 1px solid white;
}

.full-screen-hide-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* ========== Component - Menu Overlay ========== */
.dropdown-handle {
    background: black;
}

.menu-container {
    overflow: hidden;
    position: absolute;
}

/* ========== Component - iFrame ========== */
.iframe {
    border: 0px none;
    display: block;
}

/* ========== Component - Content Container ========== */
.content-container {
    position: absolute;
}