/* ========== Routing ========== */
.router > .dynamic-route {
    display: none;
}

.router > .dynamic-route:last-child {
    display: block;
}

.router > .dynamic-route:target {
    display: block;
}

.router > .dynamic-route:target ~ .dynamic-route {
    display: none;
}

/* ========== Typography ========== */
* {
    color: #999;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

@font-face {
    font-family: 'glyphicon';
    src: url('icons/icomoon.ttf');
}

.glyphicon {
    font-family: glyphicon;
}

/* ========== Global Flex Layout ========== */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-layout-container .flex-layout-main {
    flex: 1;
    height: 100%;
    width: 100%;
}


/* ========== Global Interactions ========== */
* {
    cursor: default;
}

/* ========== Reusable Layout ========== */
.flex-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ========== Component Internal - Logo ========== */
.header-logo-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header-logo-container .header-logo-icon {
    font-size: 44px;
}

.header-logo-container .header-logo-text {
    font-size: 30px;
    margin-left: 16px;
    font-variant: small-caps;
}

/* ========== Component Internal - Tracks ========== */
.tracks-container {
    text-align: center;
}

.tracks-container .tracks {
  list-style-type: none;
  padding: 0;
}

.tracks-container .tracks .playing {
  font-weight: 700;
}

.tracks-container .tracks li {
  cursor: pointer;
  font-size: 16px;
}

.tracks-container .tracks li.no-touch:hover {
  font-weight: 700;
  color: #666;
}

.tracks-container .tracks li+li{
  margin-top: 10px;
}

/* ========== Component Internal - Intro ========== */
.intro-container {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.intro-container .volume {
    display: inline;
    font-size: 17px;
    color: #BBB;
}

.intro-container .title {
    display: inline;
    font-size: 21px;
}

.intro-container .intro {
    text-align: justify;
    font-size: 16px;
}

/* ========== Component Internal - Nav Control ========== */
.nav-container a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-container a:hover {
  color: #666;
  font-weight: 700;
}

.nav-container .next::after {
  content: "[>]"
}
.nav-container .next:hover::after {
  content: "[ > ]"
}

.nav-container .prev::after {
  content: "[<]"
}

.nav-container .prev:hover::after {
  content: "[ < ]"
}

/* ========== Component Internal - Audio Control ========== */
.audio-control-container {
    padding: 10px;
}

.audio-control-container .audio-control {
  font-size: 40px;
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
  display: inline-block;
  cursor: pointer;
}

.audio-control-container .audio-control:hover {
    color: #666;
}

.audio-control-container .audio-control.paused {
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}