@font-face {
  font-family: 'Iconset';
  src: url('icons/icomoon.ttf');
}

* {
  padding: 0;
  margin: 0;
  color: #999;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

*:focus {
    outline: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
}

section + section {
  margin-top: 20px;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

footer {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 15px;
  height: 100%;
}

.logo {
  color: #666;
  padding: 20px;
  text-align: center;
}

.logo-icon {
  font-family: Iconset;
  font-size: 4em;
}

.logo-text {
  font-size: 2.6em;
  font-variant: small-caps;
  display: block;
}

.logo-super {
  position: relative;
  left: 6.2em;
  top: -2.4em;
  font-size: 1.3em;
  color: #BBB;
}

.row {
  width: 100%;
}

.responsive-column {
  width: 100%;
  max-width: 420px;
  font-size: 1.4em;
}

.responsive-row {
  height: 40px;
  border: 1px solid #999;
  box-sizing: border-box;
  text-align: center;
}

.responsive-row:focus, .responsive-row:hover {
  border-color: #666;
  color: #666;
}

#mc_embed_signup {
  text-align: center;
}

.mc-field-group {
  margin-bottom: 20px;
}

audio {
  margin: 10px auto 0px auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}