@font-face {
  font-family: 'Iconset';
  src: url('icons/icomoon.ttf');
}

* {
  padding: 0;
  margin: 0;
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  cursor: default;
}

*:focus {
    outline: none;
}

a {
  cursor: pointer;
}

input[type=email] {
  cursor: text;
}

input[type=submit] {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: white;
}

header, footer {
  display: block;
  width: 100%;
  text-align: center;
  position: static;
}

.feature-prompt {
  margin-bottom: 5px;
}

.router > .dynamic-route {
    display: none;
}

.router > .dynamic-route:last-child {
    display: block;
}

.router > .dynamic-route:target {
    display: block;
}

.router > .dynamic-route:target ~ .dynamic-route {
    display: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 15px;
  height: 100%;
  min-height: 300px;
}

.logo {
  color: #666;
  padding: 40px;
  text-align: center;
}

.logo-icon {
  font-family: Iconset;
  font-size: 4em;
}

.logo-text {
  font-size: 2.6em;
  font-variant: small-caps;
}

.logo-super {
  position: absolute;
  margin-left: 5px;
  font-size: 1.3em;
  color: #BBB;
}

.row {
  width: 100%;
}

.responsive-column {
  width: 100%;
  max-width: 420px;
  font-size: 1.4em;
}

.responsive-row {
  height: 40px;
  border: 1px solid #999;
  box-sizing: border-box;
  text-align: center;
}

.responsive-row:focus, .responsive-row:hover {
  border-color: #666;
  color: #666;
}

#mc-embedded-subscribe-form {
  text-align: center;
}

.mc-field-group {
  margin-bottom: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

/* play mode */
.logo-as-banner {
  font-size: 0.8em;
  color: #666;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.logo-as-banner .logo-super {
  position: relative;
  top: -10px;
}

.logo-as-banner .logo-text {
  margin-left: 15px;
}

.flex-container.short {
  min-height: 180px;
}

.main-content {
  text-align: center;
  max-width: 320px;
}

.title-volume-container {
  margin-bottom: 20px;
}

.main-content .volume {
  display: inline;
  color: #BBB;
}


.main-content .title {
  display: inline;
  font-size: 1.5em;
}

.main-content .intro {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;

}

.playlist {
  list-style-type: none;
}

.playlist .playing {
  font-weight: bold;
}

.playlist li {
  cursor: pointer;
  font-size: 1.2em
}

.playlist li:hover {
  font-weight: bold;
  color: #666;
}

.playlist li:hover::before, .playlist li.playing::before {
  content: attr(artist) " · "
}

.playlist li+li{
  margin-top: 10px;
}

.nav-container {
  margin-top: 20px;
}

.nav-container a {
  font-size: 1.2em;
  text-decoration: none;
}

.nav-container a:hover {
  color: #666;
  font-weight: bold;
}

.play-icon {
  font-family: Iconset;
  font-size: 40px;
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
  display: inline-block;
  cursor: pointer;
}

.play-icon::selection {
    background-color:transparent;
}

.play-icon:hover {
    color: #666;
}

.play-icon.paused {
  -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.next::after {
  content: "[>]"
}
.next:hover::after {
  content: "[ > ]"
}

.prev::after {
  content: "[<]"
}
.prev:hover::after {
  content: "[ < ]"
}

.footer-content-container {
  padding-bottom: 10px;
}